{% extends 'base.html' %}

{% block title %} Albums {% endblock %}

{% block body %}

    <body>

        {% if all_albums %}

            {%for album in all_albums%}

                <div class="container-fluid">
                    <div class="col-md-4">
                        <img class="img-rounded" src = "{{ album.album_logo }}" width="255" height="180" />
                        <h3><a href = "{% url 'My_Songs:detail' album.id %}">{{ album.album_title }}</a></h3>
                    </div>
                </div>

            {% endfor %}


            {% else %}
                <h3>What, do you hate music?</h3>

        {% endif %}

    </body>

{% endblock %}

