{% extends 'base.html' %}

{% block title %} {{ album.album_title}}  {% endblock %}

{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'My_Songs/detail.css' %}"/>
{% endblock %}

{% block body %}

    <center>

        <div class="container-fluid">
            <img src = "{{ album.album_logo }}"/>
            <div class="centered"><h2>{{ album.album_title }}</h2> </div>
            <div class="bottom-centered"><h3>{{ album.artist }}</h3> </div>
        </div>

        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}

            <div class="row">
                <div class="col-md-2 col-md-offset-10" style="color:black">
                    <button class="btn btn-info btn-md"><a href="{% url 'My_Songs:add-song' %}">Add Song</a></button>
                </div>
            </div>

            {% csrf_token %}
            {% for song in album.song_set.all %}

            <ul style="color:lightgrey">
                {% if song.song_link != null %}
                    <iframe width="50%" height="100" scrolling="no" frameborder="no" allow="autoplay" src="{{ song.song_link }}"></iframe>
                {% else %}
                    {{song.song_title}}
                {% endif %}
                <button class="btn btn-success"><a href="{% url 'My_Songs:update-song' song.id %}">Edit</a></button>
                <button class="btn btn-danger"><a href="{% url 'My_Songs:delete-song' song.id %}">Delete</a></button>
            </ul>

            {% endfor %}

        </form>

    </center>

{% endblock %}
