{% extends 'My_Songs/base.html' %}

{% block title %} {{ album.album_title}}  {% endblock %}

{% block body %}

    <center>

        <div class="container-fluid">
            <h1>{{ album.album_title }}</h1>
            <h3>{{ album.artist }} </h3>
            <img class="img-rounded" src = "{{ album.album_logo }}" width="900" height="600" />
        </div>

        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}

            {% csrf_token %}
            {% for song in album.song_set.all %}

            <ul style="color:lightgrey">
                {% if song.song_link != null %}
                    <iframe width="50%" height="100" scrolling="no" frameborder="no" allow="autoplay" src="{{ song.song_link }}"></iframe>
                {% else %}
                    {{song.song_title}}
                {% endif %}
            </ul>

            {% endfor %}

        </form>

    </center>

{% endblock %}
