<head>
    {% extends 'base.html' %}

    <link rel="stylesheet" type="text/css" href='test1_tutorial/BlogApp/static/posts.css'/>

    {% block title %} All Posts {% endblock %}

    {% block body %}
</head>

    <body>

         {% if all_posts %}

            {% for post in all_posts %}



                <div class="container" id="posts">
                    <div class="col-md-4 col-md-offset-4">
                        <h4><a href="{% url 'BlogApp:post-detail' post.id %}">{{ post.title }}</a></h4>
                        {% if post.date_added %}
                            <span style="color:white">{{ post.date_added }}</span>
                        {% endif %}
                        {% if post.img %}
                            <img src="{{post.img}}" style="width:350; height:250;" class="img-rounded">
                        {% endif %}
                        <p id="post_area" style="color:lightgrey">{{ post.post }}</p>
                    </div>
                </div>


            {% endfor %}

         {% else %}
            <h3>Post Unavailable</h3>

         {% endif %}

    </body>


{% endblock %}