<head>

    {% extends 'base.html' %}

    {% load staticfiles %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'BlogApp\blog_page.css' %}"/>
    {% endblock %}

    {% block title %} All Posts {% endblock %}


</head>

{% block body %}

    <body class="scroll-area" data-spy="scroll" data-target=".navbar" data-offset="50">

        <div class="row">
            <div class="col-md-2 col-md-offset-10" style="color:black">
                <button class="btn btn-info btn-md"><a href="new_post/">Add New Blog Post</a></button>
            </div>
        </div>
         {% if all_posts %}

            {% for post in all_posts %}

                <div class="flex-container" id="spyOnThis">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3" id="main-content">
                            <h4 style="color:#75CEEA">{{ post.title }}</h4>
                            {% if post.date_added %}
                                <span style="color:grey">{{ post.date_added }}</span>
                            {% endif %}
                            {% if post.img %}
                                <img src="{{post.img}}" class="img-rounded">
                            {% endif %}
                            <p style="color:black">{{ post.post }}</p>
                        </div>
                    </div>
                </div>

            {% endfor %}

         {% else %}
            <h3>Post Unavailable</h3>

         {% endif %}

    </body>

{% endblock %}