<!DOCTYPE html>

<head>

    {% extends 'base.html' %}

    {% block title %} Add Comment {% endblock %}

</head>

<body>

{% block body %}



<div class="col-md-offset-3 col-md-6" style="color:darkgrey">
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="form-group">
                    {% csrf_token %}
                    {% include 'form-template.html' %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <button type="submit">Submit</button>
                </div>
            </div>
        </form>

</div>

{% endblock %}

</body>