{% extends 'base.html' %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'BlogApp/posts.css' %}" />

{% block title %} {{ post.title }}  {% endblock %}

{% block body %}

<body>

    <center>
        <div class="container">

            <div class="row">
                <h1><bold>{{ post.title }}</bold></h1>

                {% if post.date_added %}
                    <span>{{ post.date_added }}</span>
                {% endif %}

                {% if post.img %}
                <img src="{{ post.img }}"
                    class="img-rounded">
                {% endif %}
            </div>

            <div class="row">
                <h3 style="color:lightgrey; margin-left:250px; margin-right:250px">{{ post.post }}</h3>
            </div>

            <div class="row">
                {% if post.link %}
                    <h3><a href="{{ post.link }}" target="_blank">You can find the project here.</a></h3>
                {% endif %}
            </div>

        </div>
    </center>

</body>

{% endblock %}