<head>

    {% extends 'base.html' %}

    {% block title %} Create Account {% endblock %}

</head>

{% block body %}

    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9 col-offset-3">
                    <div class="panel-body">
                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            {% include 'form-template.html' %}

                            <div class="form-group">
                                <div class="col-sm-offset-1 col-sm-11">
                                    <button type="submit" class="btn btn-success">Login</button>
                                    <button type="" class="btn btn-info"><a href="{% url 'register' %}">Create New Account</a></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </body>

{% endblock %}