.scroll-area{
    position:relative;
    background-color: #F3EAEA;
    overflow:auto;
}

.flex-container{
    background-color: lightgrey;
    display:flex;
    flex-direction: column;
    display: inline;
}

#main-content{
    margin-bottom: 10px;
    background-color:;
    color:black;
    // border: inset;
}

.btn btn-link{
    background-color:grey;
}

p{
    color: lightgrey;
    line-height: 2;
}

img{
    width:720;
    height:480;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#footer{
    width:100%;
    background-color: lightblue;
    color: black;
    text-align:center;
    position:relative;
    bottom:0;
    clear: both;
    z-index: 10;
    height: 3em;
    margin-top: -3em;

}

