@import url('https://fonts.googleapis.com/css?family=Quicksand');

body{
    background-color: darkseagreen;
    background-image: none;
    font-family: 'Quicksand', sans-serif;
}

h1{
    color:lightgrey;
}

h2{
    color:lightgrey;
}

h3{
    color:lightgrey;
}

h4{
    color:lightgrey;
}

span{

}

a{

}

.navbar{
    overflow: hidden;
    border-radius: 20;
    background-color: black;
    position: fixed;
    width: 100%;
}

.navbar-brand{
    font-family: 'Quicksand', sans-serif;
}








